.env
.env.local
.env.*.local
*.pem
*.key

.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.bak

themes/
content/
hugo.toml
archetypes/
.hugo_build.lock

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
